<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moretickets.platform.mapper.ApiInfoMapper">


    <resultMap id="Result" type="com.moretickets.platform.bean.ApiInfoBean">
        <result property="id" column="anf_id"/>
        <result property="pid" column="anf_pid"/>
        <result property="name" column="anf_name"/>
        <result property="hostname" column="anf_hostname"/>
        <result property="path" column="anf_path"/>
        <result property="method" column="anf_method"/>
        <result property="memo" column="anf_memo"/>
        <result property="createdt" column="anf_createdt"/>
        <result property="updatedt" column="anf_updatedt"/>
        <result property="createuid" column="anf_createuid"/>
        <result property="updateuid" column="anf_updateuid"/>
    </resultMap>

    <select id="getApi" resultMap="Result">
        select anf_id,anf_pid,anf_name,anf_hostname,anf_path,anf_method,anf_memo,anf_createdt,anf_updatedt,anf_createuid,anf_updateuid
        from apiinfo
        WHERE anf_id =#{id} and anf_deleted_flag =0
    </select>


    <select id="getApis" resultMap="Result">
        select anf_id,anf_pid,anf_name,anf_hostname,anf_path,anf_method,anf_memo,anf_createdt,anf_updatedt,anf_createuid,anf_updateuid
        from apiinfo
        where anf_deleted_flag = 0
        order by anf_id desc
    </select>

    <insert id="add" parameterType="com.moretickets.platform.bean.ApiInfoBean">
        insert apiinfo(anf_pid,anf_name,anf_hostname,anf_path,anf_method,anf_memo,anf_createdt,anf_updatedt,anf_createuid,anf_updateuid)
        values(#{pid},#{name},#{hostname},#{path},#{method},#{memo},
        now(), now(),'aaa','bbb')
    </insert>

    <update id="update" parameterType="com.moretickets.platform.bean.ApiInfoBean">
        update apiinfo set anf_pid = #{pid},anf_name = 'changed',anf_updatedt=now()
        where anf_id = #{id}
    </update>

    <update id="delete" parameterType="int">
        update apiinfo set anf_deleted_flag = 1,anf_updatedt=now()
        where anf_id = #{id}
    </update>




</mapper>
